body {
  background-color: #1a8520;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;  
}

button,
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

button,
ul.header {
  background-color: #111;
  padding: 0;
}

button,
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {  
  background-color: #0099FF; 
}

button:hover,
ul li:hover a,
footer:hover {
  background-color: lightslategray; 
}

.accordion {
  width: 60%;
  border: 1px solid #7a7a7a;
  /*margin-bottom: 10px;*/
}

.accordion-text {
  padding-left: 10px;
  margin: 10px;
  font-family: sans-serif;  
}

.accordion .accordion-header {
  background-color: rgb(0, 0, 0);
  color: #FFF;
  font-weight: bold;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border-radius: 8px;
}

.imageboard-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 70%;
}

.imageboard-form label {
  margin-right: 10px;
  width: 80px;
}

.imageboard-form input,
.imageboard-form textarea {
  flex: 1;
  width: 100%;
}

.imageboard-comments {
  margin-top: 20px;
}

.comment {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
}

.message {
  margin-top: 5px;
}

.imageboard-img-section {
  padding: 10px;
  border-color:#111;
  border-style:ridge;
  max-width: min-content;
  margin: 15px;
  /*background-color:#474343;
  color: white;*/
}

.imageboard-img {
  max-width: 640px;
  max-height: 360px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

a {
  text-decoration: none; 
  color: inherit;
}

.link
{
   color: inherit;
   text-decoration: none; 
   background-color: none;
}

.link:hover {
  text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}